Django>=5.0
gunicorn
whitenoise
psycopg2-binary
mercadopago
openpyxl
reportlab
pillow
requests
django-environ
dj-database-url
django-widget-tweaks
django-cors-headers>=4.0
django-import-export
django-admin-interface
django-colorfield
sendgrid-backend
xhtml2pdf>=0.2.17
